   
    @use "../utils/box-shadow.scss" ; 
    @use "../utils/zoom.scss";

    .explorer {
    text-align: center;
    max-width: 19rem;
    & button {
        color: white;
        border: none;
     padding: 1rem 1.8rem;
     font-weight: 500;
     font-size: 1rem;
     border-radius: 2rem;
     background-image: linear-gradient(180deg, #ff79da 0%, #9356dc 120%);
     transition: all 180ms;
     margin-top: 1rem;
     @include box-shadow.base-shadow;
     }
   & button:hover {
       transform: scale(1.01);
       opacity: 0.9;
       cursor: pointer;
    } 
   }