.location {
    display: flex;
     
    justify-content: center;
      
    align-items: center;
      background: #f3f3f3;
      color: #3F3F3F;
      margin-bottom: 2rem;
    .location-city {
       margin-left: 13px;
       font-weight: 400;
      }
   }
   