.menus {
    background-color: #f6f6f6;
    h2 {
        margin-bottom: 2rem;
    }

.menus__cards {
    display: grid;
    grid-template-columns: repeat(1,1);
    gap: 5rem;
}
.card {
    & .card__image {
    border-radius: 1rem;
    height: 13rem;
    flex-grow: 1;
    min-width: 20rem;
    }
    @for $i from 1 through 4 {
        &__image-#{$i} {
        background-image: url("../../assets/menu-#{$i}.jpg");
        height: 15rem;
        background-size: cover;
    }
}
}
}
