@use "../utils/mixins";
@use "../utils/variables";
@use "../utils/colors";

.process {
  counter-reset: steps;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 2rem 2rem;
  background-color: white;
  @media (min-width: variables.$breakpoint) {
    padding: 1rem 10rem 2rem 10rem;
  }

  & ol {
    display: flex;
    gap: 2rem;
    padding: 0;
    margin: auto;
    flex-direction: column;
    @media (min-width: variables.$breakpoint) {
      flex-direction: row;
      width: 90%;
    }

    & li {
      position: relative;
      font-weight: bold;

      &::before {
        content: counter(steps);
        counter-increment: steps;
        color: white;
        background-color: colors.$purple;
        width: 2 * variables.$process-bullet-height;
        height: 2 * variables.$process-bullet-height;
        display: grid;
        place-items: center;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: -1 * variables.$process-bullet-height;
        transform: translateY(-50%);
      }

      list-style-type: none;
      background-color: #f6f6f6;
      padding: 1.7rem 2rem;
      flex-grow: 0.77;
      border-radius: 1rem;
      @include mixins.box-shadow;

      &:hover {
        @include mixins.change-zoom;
      }

      & i.fas {
        margin-right: 1rem;
        color: colors.$light-grey;
        font-size: 1.5rem;
      }
      i.fas.fa-store {
        color: colors.$purple;
      }
    }
  }
}
