@use "./../utils/colors";
@use "./../utils/variables";

footer {
  background-color: colors.$darkgrey;
  padding: 1rem 2rem;
  color: white;

  h2 {
    font-family: "Shrikhand", "sans-serif";
    position: relative;
    padding: 0;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 1rem;
    margin: 0;
    @media (min-width: variables.$breakpoint) {
      padding: 3rem;
    }
  }

  @media (min-width: variables.$breakpoint) {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;

    div {
      position: absolute;
      display: flex;
      margin-right: 10rem;
      gap: 2rem;
      padding: 3rem;
    }
  }
}
